/** 自定义 Element Plus 样式 */

// 表格
.el-table {
  // 表头
  th.el-table__cell {
    background-color: var(--el-fill-color-light) !important;
  }
  // 行元素
  tr {
    background-color: transparent;
  }
}

// 分页
.el-pagination {
  // 参考 Bootstrap 的响应式设计 WIDTH = 768
  @media screen and (max-width: 768px) {
    .el-pagination__total,
    .el-pagination__sizes,
    .el-pagination__jump,
    .btn-prev,
    .btn-next {
      display: none !important;
    }
  }
}

.el-tabs__item {
  color: #fefefe !important;
  font-size: 16px;
}

.el-tabs__item.is-active {
}
.el-select__input {
  color: #ffffff;
}

.el-input {
  --el-input-border-color: #35a0de;
  --el-input-bg-color: #244c74;
}

.el-select__wrapper {
  background: #244c74;
  box-shadow: 0 0 0 1px #35a0de inset;
}

.el-popper.is-light {
  background: #244c74;
  border: 1px solid #35a0de;
  color: #ffffff;
}
.el-select-dropdown__item {
  color: #ffffff;
}
.el-popper__arrow {
  display: none;
}
.el-select-dropdown__item.is-hovering {
  background: #35a0de;
  color: #ffffff;
}
.el-select__placeholder {
  color: #ffffff;
}
.el-input__wrapper {
  background: rgba(45, 84, 128, 0.8);
}
