.ip-model-style {
  background-image: url("@/assets/image/model.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 196px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
